*{
  margin: 0;
  padding: 0;
}

.home{
  padding: 5vmax;
}

.header{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px #dbd9d9;
  height: 8vh;
  align-items: center;
  padding: 0vh 1vw;
}

.maindiv{
  display: flex;
  justify-content: space-evenly;
}
.sidebar{
  width: 15%;
  border-right:1px solid #CCCCCC;
  height: 82vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

}
.sidebar div{
  text-transform: capitalize;
  height: 4vh;
  padding: 2vh 1vw;
  margin: 0vh 0vw;
  font-weight: 500;
}
.rightbar{
width: 80%;
padding: 2vh 2vw;
}
.category:hover{
  
}
.selected{
  background-color: #2AC373;
}

.adduser{
  background-color: #2AC373;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 1vh 1vw;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  width: 10vw;
  margin: 2vh 0vw;
}
.table{
  width: 100%;

}
.table th{
  border: 1px solid #CCCCCC;
}
#table_header{
  background-color:#D8D8D8;
  text-transform: capitalize;
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
  padding: 2vh 2vw;
}
#tableheader th{
  border: 1px solid #CCCCCC;
  padding: 2vh 2vw;
}
.popup{
  height: 40vh;
  width: 45vw;
  display: flex;
}
.popup_left{
  background-color: #F38181;
  height: 100%;
  width: 40%;
  color: #ffffff;
  font-weight: 500;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 1vw;
  box-sizing: border-box;
  justify-content: center;
}
.popup_right{
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
}



.cancel{
  background-color: #FFBA41;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 1px;
  padding: 1vh 1vw;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  width: 10vw;
  margin: 2vh 0vw;
}
.add{
  background-color: #57CA85;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: px;
  padding: 1vh 1vw;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  width: 10vw;
  margin: 2vh 0vw;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}